button, button:active, button:hover, button:focus {
    border:0px solid transparent;
    outline: none;
}

.tomato {
    background:url(../img/tomato.png) no-repeat;
    border-radius: 70%;
    cursor:pointer;
    border:1px solid transparent;
    width:241px;
    height:211px;
}

.tomato:active, .tomato:hover, .tomato:focus {
    border:0px solid transparent;
    outline: none;
}

.tomato:hover {
    opacity: 0.8;
}

.tomatoClick{
    background: url(../img/click.png) no-repeat;
    position: absolute;
    opacity: 1;
    visibility: hidden;
    width: 28px;
    height: 28px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
}